* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #1a1a1a;
  color: #e0e0e0;
  font-family: 'Noto Serif JP', serif;
}

button {
  width: 100%;
  padding: 1rem;
  border-radius: 8px;
  border: 1.5px solid #e0e0e0;
  background-color: #2a2a2a;
  font-size: 18px;
  font-weight: 700;
  color: #e0e0e0;
  cursor: pointer;
  font-family: 'Noto Serif JP', serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: border-color 0.3s, background-color 0.3s, color 0.3s;
}

button:hover {
  border-color: #5DCAA5;
  background-color: #f0f0f0;
  color: #0F6E56;
}


.container {
  background-color: #2a2a2a;
  border-radius: 28px;
  padding: 2.5rem 2rem;
  width: 100%;
  max-width: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first-view{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  width: 100%;
}

.first-view.is-hidden{
  display: none;
}

.head{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.head-txt {
  color: #a1a1a1;
  font-size: 16px;
}

.head-title {
  font-size: 24px;
  font-weight: 700;
  color: #e0e0e0;
}

.timer-select {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.timer-btn .time{
  color: #0F6E56;
}

.timer-view {
  display: none;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.timer-view.is-visible{
  display: flex;
}

.timer-view__icon {
  color: #0F6E56;
  font-size: 14px;
  font-weight: 700;
  background-color: #caeae2;
  padding: 2px 16px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.timer-view__icon::before {
  content: "";
  display: inline-block;
  width: 8px;
  height:  8px;
  background-color: #74c1ad;
  border-radius: 100%;
}

.timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
}

.timer-display-container{
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

#timer-display {
  font-size: 48px;
  font-weight: 700;
}

.timer-view__time {
  font-weight: 400;
  color: #a1a1a1;
  font-size: 14px;
  text-align: center;
}

.timer-view__setCount {
  font-weight: 400;
  color: #a1a1a1;
  font-size: 16px;
}

.timer-view__setCount span {
  color: #e0e0e0;
  padding: 0 4px;
}

.timer-view__progress-circle{
  position: relative;
  transform-origin: 50% 50%;
  transform: rotate(-90deg);
}

.pause-btn {
  font-size: 14px;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 8px 12px;
}

.pause-btn__icon {
  display: flex;
  align-items: center;
  justify-content: center;
}



.repetition-view {
  display: none;
  text-align: center;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  width: 100%;
}

.repetition-view.is-visible {
  display: flex;
}

.repetition-btnList{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  border-top: solid 1px #5f5f5f;
  padding: 32px 0 0;
  width: 100%;
}

.repetition-btn {
  font-size: 14px;
  justify-content: center;
  padding: 8px 12px;
}

.repetition-btn.-full {
  grid-column: 1 / span 2;
}

.timer-select.is-hidden {
  display: none;
}

.end-view {
  display: none;
  width: 100%;
  text-align: center;
  flex-direction: column;
  gap: 24px;
}

.end-view.is-visible {
  display: flex;
}

.setCount-num {
  color: #0F6E56;
  font-size: 40px;
  font-weight: 900;
}

.setCount-txt{
  font-size: 18px;
}

.totalTime-txt{
  font-weight: 400;
  color: #a1a1a1;
}

.total-time {
  font-size: 18px;
  font-weight: 900;
  color: #e0e0e0;
  padding: 0 4px;
}

.beginning-area{
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-top: solid 1px #5f5f5f;
  padding: 24px 0 0;
}

.beginning-txt {
  color: #a1a1a1;
}

.beginning-btn {
  justify-content: center;
}